/.idea
/node_modules
*.log
.DS_Store
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
/public/js/app.js
/public/js/vendor.js
/public/js/app.js.gz
/public/js/vendor.js.gz
/public/js/manifest.js
/public/mix-manifest.json
/public/css/app.css
/public/css/app.css.gz
/public/css/vuetify-components.css
/public/css/vuetify-components.css.gz
/public/css/app.css.map
/public/js/app.js.map
/public/css/vuetify-components.css.map
/public/js/manifest.js.map
/public/js/vendor.js.map
auth.json
/public/ad-visuals
/public/logos-promoteurs
/.phpunit.cache
/.vscode
.vscode/settings.json
**/.vscode/
coverage/
public/documents/*
*.zip